@model CheckCar.Models.Technology

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Technology</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarDetail.CarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarDetail.CarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArkaParkSensoru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArkaParkSensoru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeriGorusKamerasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeriGorusKamerasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HizSabitlemeSistemi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HizSabitlemeSistemi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YağmurSensoru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YağmurSensoru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartStopSistemi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartStopSistemi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BluetoothBaglantisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BluetoothBaglantisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtomatikKatlananYanAynalar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtomatikKatlananYanAynalar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElektronikParkFreni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElektronikParkFreni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YolBilgisayari)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YolBilgisayari)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YokusKalkisDestekSistemi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YokusKalkisDestekSistemi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FarSensoru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarSensoru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USBGirisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USBGirisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NavigasyonSistemi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NavigasyonSistemi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XenonOnFarlar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XenonOnFarlar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
